.body {
  display: flex;
  width: 100%;
  height: calc(
    100vh - 64px
  ); // Ajusta para altura total menos a altura do header
  position: relative;
  overflow: hidden; /* Evitar barra de rolagem */
}

.content {
  flex-grow: 1;
  padding: 10px; /* Ajuste o padding conforme necessário */
  transition: margin-left 0.3s; /* Transição suave */
  overflow-y: auto; /* Permitir rolagem vertical apenas no conteúdo */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .frame-container {
    margin: 15px;
    padding: 5px;
  }
}
