.body {
  display: flex;
  width: 100%;
  // height: calc(100vh - 64px);
  height: 86vh;
  position: relative;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
  transition: margin-left 0.3s;
}

@media (max-width: 768px) {
  .frame-container {
    margin: 15px;
    padding: 5px;
  }
}
